.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.page-container .hero-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 100%;
      grid-template: auto auto/100%;
      grid-template-areas: "first"  "second";
  height: auto;
}

@media (min-width: 1200px) {
  .page-container .hero-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 55% 45%;
        grid-template: auto/55% 45%;
        grid-template-areas: "first second";
  }
}

.page-container .hero-section .first {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
  height: 50vh;
}

@media (min-width: 1200px) {
  .page-container .hero-section .first {
    height: 85vh;
  }
}

.page-container .hero-section .first img {
  width: 100%;
  height: 100%;
}

.page-container .hero-section .second {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: second;
  background-color: #AF0404;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 5% 0;
}

@media (min-width: 1200px) {
  .page-container .hero-section .second {
    height: 85vh;
  }
}

.page-container .hero-section .second header {
  width: 80%;
  padding: 5% 0;
}

@media (min-width: 1200px) {
  .page-container .hero-section .second header {
    padding: 2% 0;
  }
}

.page-container .hero-section .second header h1 {
  font-size: 2em;
}

@media (min-width: 1200px) {
  .page-container .hero-section .second header h1 {
    font-size: 2.5em;
  }
}

.page-container .hero-section .second p {
  padding: 5% 0;
  font-size: 1em;
  width: 80%;
}

@media (min-width: 1200px) {
  .page-container .hero-section .second p {
    padding: 1% 0;
    font-size: 1em;
  }
}

.page-container .hero-section .second svg {
  display: none;
  position: absolute;
}

@media (min-width: 1200px) {
  .page-container .hero-section .second svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    bottom: 0;
    right: 100%;
    -webkit-filter: drop-shadow(-10px 0px 5px #00000030);
            filter: drop-shadow(-10px 0px 5px #00000030);
  }
}

.page-container .about-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 100%;
      grid-template: auto auto/100%;
      grid-template-areas: "first"  "second";
  height: auto;
}

@media (min-width: 1200px) {
  .page-container .about-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 50% 50%;
        grid-template: auto/50% 50%;
        grid-template-areas: "first second";
  }
}

.page-container .about-section .first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
  height: auto;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 5% 0;
}

@media (min-width: 1200px) {
  .page-container .about-section .first {
    height: 85vh;
  }
}

.page-container .about-section .first header {
  width: 80%;
  padding: 5% 0;
}

@media (min-width: 1200px) {
  .page-container .about-section .first header {
    padding: 2% 0;
  }
}

.page-container .about-section .first header h2 {
  font-size: 2em;
}

@media (min-width: 1200px) {
  .page-container .about-section .first header h2 {
    font-size: 2.5em;
  }
}

.page-container .about-section .first p {
  padding: 5% 0;
  font-size: 1em;
  width: 80%;
}

@media (min-width: 1200px) {
  .page-container .about-section .first p {
    padding: 1% 0;
    font-size: 1em;
  }
}

.page-container .about-section .second {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: second;
  height: 60vh;
  background-color: #252525;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr;
      grid-template-areas: "firstPic secondPic" "thirdPic forthPic";
  padding: 5%;
  grid-gap: 5%;
}

@media (min-width: 1200px) {
  .page-container .about-section .second {
    height: 85vh;
    padding: 10%;
    grid-gap: 5%;
  }
}

.page-container .about-section .second img {
  width: 100%;
  height: 100%;
}

.page-container .about-section .second img.imgOne {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: firstPic;
}

.page-container .about-section .second img.imgTwo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondPic;
}

.page-container .about-section .second img.imgThree {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: thirdPic;
}

.page-container .about-section .second img.imgFour {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: forthPic;
}

.page-container .newsletter-span {
  width: 100%;
  height: auto;
  background-color: #AF0404;
  padding: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-container .newsletter-span header {
  padding: 5% 0;
  width: 80%;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .page-container .newsletter-span header {
    padding: 2% 0;
  }
}

.page-container .newsletter-span header h2 {
  font-size: 2em;
}

@media (min-width: 1200px) {
  .page-container .newsletter-span header h2 {
    font-size: 2.5em;
  }
}

.page-container .newsletter-span span {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 5% 0;
}

@media (min-width: 1200px) {
  .page-container .newsletter-span span {
    width: 30%;
    padding: 0 0 2.5% 0;
  }
}

.page-container .newsletter-span span input {
  width: 70%;
  padding: 10px 20px;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

@media (min-width: 1200px) {
  .page-container .newsletter-span span input {
    padding: 20px 30px;
    font-size: 1.2em;
  }
}

.page-container .newsletter-span span button {
  width: 30%;
  padding: 10px;
  border: none;
  background-color: #252525;
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (min-width: 1200px) {
  .page-container .newsletter-span span button {
    padding: 20px 10px;
    font-size: 1.2em;
  }
}

.page-container .newsletter-span span button:hover {
  cursor: pointer;
}

.page-container .choosenMovies-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #252525;
  padding: 5% 10%;
}

@media (min-width: 1200px) {
  .page-container .choosenMovies-section {
    height: auto;
    background-color: #252525;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template: auto / 1fr 1fr 1fr 1fr;
    grid-gap: 0 50px;
  }
}

.page-container .choosenMovies-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 280px;
  margin-top: 15px;
}

@media (min-width: 1200px) {
  .page-container .choosenMovies-section article {
    position: relative;
    height: 400px;
    width: auto;
    margin-top: none;
  }
}

.page-container .choosenMovies-section article figure {
  position: relative;
  width: 80%;
  border: 5px solid #AF0404;
  height: auto;
}

.page-container .choosenMovies-section article figure img {
  height: 100%;
  width: 100%;
}

.page-container .choosenMovies-section article figure figcaption {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #373737cc;
  width: 100%;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: #fff;
  visibility: hidden;
  letter-spacing: 2px;
}

.page-container .choosenMovies-section article figure figcaption h3 {
  font-size: 1.5em;
}

.page-container .choosenMovies-section article figure figcaption p {
  font-size: .5em;
}

.page-container .choosenMovies-section article figure:hover figcaption {
  visibility: visible;
}

.page-container .choosenMovies-section article button {
  margin: 0 auto;
  margin-top: -12px;
  padding: 20px;
  width: 80%;
  background-color: #AF0404;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  z-index: 1;
}

@media (min-width: 1200px) {
  .page-container .choosenMovies-section article button {
    margin-top: -5px;
  }
}

.page-container .choosenMovies-section article button:hover {
  cursor: pointer;
  background-color: #ad4d4d;
  -webkit-transition: .2s;
  transition: .2s;
}

.page-container .seeMore-span {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #252525;
  padding: 5% 0 10% 0;
}

@media (min-width: 1200px) {
  .page-container .seeMore-span {
    padding: 2% 0 4% 0;
  }
}

.page-container .seeMore-span a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  background-color: #AF0404;
  color: white;
  text-align: center;
  font-size: 16px;
  letter-spacing: 3px;
}

@media (min-width: 1200px) {
  .page-container .seeMore-span a {
    width: 15vw;
  }
}

.page-container .seeMore-span a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.loginAndRegistration {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9990;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: none;
}

.loginAndRegistration.loginAndRegistrationActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loginAndRegistration form {
  width: 30%;
  height: 70%;
  background-color: #252525;
  position: absolute;
  left: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2% 0;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.loginAndRegistration form .buttons {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginAndRegistration form .buttons a {
  width: 40%;
  padding: 30px;
  background-color: #ffffff06;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.loginAndRegistration form .buttons a:hover {
  background-color: #af0404;
}

.loginAndRegistration form .buttons a.buttonActive {
  background: #AF0404;
}

.loginAndRegistration form input {
  width: 60%;
  padding: 20px;
  margin-top: 5%;
  background-color: #ffffff06;
  border: none;
  color: white;
}

.loginAndRegistration form input::-webkit-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.loginAndRegistration form input:-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.loginAndRegistration form input::-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.loginAndRegistration form input::placeholder {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.loginAndRegistration form button {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  border: none;
  background-color: #00000030;
  margin-top: 5%;
  letter-spacing: 3px;
}

.loginAndRegistration form button:hover {
  background-color: #AF0404;
}

.loginAndRegistration form #closeSection {
  color: white;
  position: absolute;
  right: -0.3em;
  top: -0.45em;
  font-size: 3em;
  z-index: 9999;
}

.loginAndRegistration form #closeSection:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.movieInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9990;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  visibility: hidden;
}
