.loginAndRegistration {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9990;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: none;
}

.loginAndRegistration.loginAndRegistrationActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loginAndRegistration form {
  width: 90%;
  height: 90%;
  background-color: #252525;
  position: absolute;
  left: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 0;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {
  .loginAndRegistration form {
    width: 30%;
    height: 70%;
    padding: 2% 0;
  }
}

.loginAndRegistration form .buttons {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginAndRegistration form .buttons a {
  width: 50%;
  padding: 30px;
  background-color: #ffffff06;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (min-width: 1200px) {
  .loginAndRegistration form .buttons a {
    width: 40%;
    padding: 30px;
  }
}

.loginAndRegistration form .buttons a:hover {
  background-color: #af0404;
}

.loginAndRegistration form input {
  width: 90%;
  padding: 20px;
  margin-top: 5%;
  background-color: #ffffff06;
  border: none;
  color: white;
}

@media (min-width: 1200px) {
  .loginAndRegistration form input {
    width: 60%;
  }
}

.loginAndRegistration form input::-webkit-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.loginAndRegistration form input:-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.loginAndRegistration form input::-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.loginAndRegistration form input::placeholder {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.loginAndRegistration form button {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  border: none;
  background-color: #00000030;
  margin-top: 5%;
  letter-spacing: 3px;
}

.loginAndRegistration form button:hover {
  background-color: #AF0404;
}

.loginAndRegistration form #closeSection {
  color: white;
  position: absolute;
  right: -0.3em;
  top: -0.45em;
  font-size: 3em;
  z-index: 9991;
}

.loginAndRegistration form #closeSection:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
