@media (min-width: 1200px) {
  .page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .movie-hero {
      background-image: url(/assets/media/img/moviehero8.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: -235px;
      height: 85vh;
      opacity: 1;
    }

    .film-filtrering {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15vh;
      background-color: #252525;

      select {
        cursor: pointer;
        padding: 12px 100px;
        margin-right: 5%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-size: 30px;
        background-color: #af0404;
        border: none;
        color: white;
        text-transform: uppercase;
        text-align-last: center;

        &:last-child {
          margin-right: 0%;
        }
      }
    }

    .film-gallery {
      display: grid;
      padding: 5% 10% 5% 10%;
      grid-gap: 150px 50px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      height: fit-content;
      width: 100%;
      background-color: #252525;

      article {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        width: auto;
        margin: 20% 0;

        figure {
          position: relative;
          width: 80%;
          border: 5px solid #af0404;
          height: auto;
          transition: visibility 1s ease-in-out;

          img {
            height: 100%;
            width: 100%;
          }

          figcaption {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: #373737cc;
            width: 100%;
            top: 0;
            left: 0;
            text-transform: uppercase;
            color: #fff;
            visibility: hidden;
            letter-spacing: 2px;

            h3 {
              font-size: 2.5em;
            }

            p {
              font-size: 1em;
            }
          }

          &:hover {
            figcaption {
              visibility: visible;
            }
          }
        }

        .buttons {
          display: flex;
          margin: 0 auto;
          margin-top: -5px;
          justify-content: center;
          align-items: center;
          padding: 20px;
          width: 80%;
          background-color: #af0404;
          border: none;
          color: white;
          text-transform: uppercase;
          font-size: 25px;
          letter-spacing: 3px;
          z-index: 1;

          &:hover {
            cursor: pointer;
            background-color: #ad4d4d;
            transition: 0.2s;
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .movie-hero {
      background-image: url(/assets/media/img/movie-hero.jpg);
      background-size: cover;
      background-position: center;
      background-position-y: 70px;
      height: 50vh;
      width: 100%;
    }

    .film-filtrering {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 20vh;
      background-color: #252525;

      select {
        width: 60%;
        padding: 6px;
        margin-top: 5px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-size: 14px;
        background-color: #af0404;
        border: none;
        color: white;
        text-transform: uppercase;
        text-align-last: center;
      }
    }

    .film-gallery {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      background-color: #252525;
      padding: 0px 10% 5% 10%;

      article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        width: 280px;
        margin-top: 15px;

        figure {
          position: relative;
          width: 80%;
          border: 5px solid #af0404;
          height: auto;
          transition: visibility 1s ease-in-out;

          img {
            height: 100%;
            width: 100%;
          }
          figcaption {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: #373737cc;
            width: 100%;
            top: 0;
            left: 0;
            font-size: 1.5em;
            text-transform: uppercase;
            color: #fff;
            visibility: hidden;

            h3 {
              font-size: 1.5em;
            }

            p {
              font-size: 0.5em;
            }
          }

          &:hover {
            figcaption {
              visibility: visible;
            }
          }
        }

        .buttons {
          display: flex;
          margin: 0 auto;
          margin-top: -12px;
          justify-content: center;
          align-items: center;
          padding: 20px;
          width: 80%;
          background-color: #af0404;
          border: none;
          color: white;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 3px;
          z-index: 1;
        }
      }
    }
  }
}

.movieInfo-container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9990;
  backdrop-filter: blur(4px);

  .movieInfo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      display: flex;
      height: fit-content;
      background-color: #252525;
      flex-direction: column;
      align-items: center;
      padding: 5%;
      box-shadow: 0 0 20px #00000050;

      @media (min-width: 1200px) {
          width: 40%;
          padding: 2%;
      }
  
      #moviePoster {
          width: 80%;

          @media (min-width: 1200px) {
              width: 40%;
          }
      }
  
      h2, p {
          margin: 2% 0;
          color: white;
          text-transform: uppercase;
          letter-spacing: 3px;

          @media (min-width: 100%) {
              margin: 1% 0;
          }
      }
  
      .infoButtons {
          width: 60%;
          border: none;
          padding: 12px;
          background-color: #ffffff30;
          margin: 1% 0;
          color: white;
          text-transform: uppercase;
          letter-spacing: 3px;
      }
    }
  }
