.page-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #252525;

    .content {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15vh;

        @media (min-width: 1200px) {
            height: 80vh;
            margin-top: 10vh;
            justify-content: center;
        }

        header {
            width: 80%;
            height: fit-content;
            padding: 20px 0;
            text-align: center;
            font-size: 1.5em;
            text-transform: uppercase;
            color: white;
            letter-spacing: 3px;

            @media (min-width: 1200px) {
                width: 60%;
            }
        }

        p {
            width: 80%;
            font-size: 1em;
            padding: 20px 0;
            color: white;

            @media (min-width: 1200px) {
                width: 60%;
            }
        }

        button {
          margin: 20px 0 40px 0;
          padding: 20px;
          text-transform: uppercase;
          letter-spacing: 3px;
          color: white;
          border: none;
          background-color: #af0404;

          &:hover {
              transform: scale(1.1);
              cursor: pointer;
          }
        }
    }
}